Django<1.8
djangorestframework
Markdown
django-filter
django-admin-bootstrapped==2.4.0
psycopg2
raven
django-extensions
django-cors-headers
-e git+https://github.com/Rikuoja/drf-cached-instances#egg=drf-cached-instances
-e git+https://github.com/Rikuoja/munigeo#egg=django-munigeo-master